  <div>Welcome to {{title}}, enable camera to post video emoji!</div>
  <div id="waiting">Connecting to chat server...</div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>
  <div id="submission">
    <input id="type_box" type="text" placeholder="say something..">
    <a id="filmstrip_button">Film Strip</a>
  </div>
  <div id="filmstrip" style="display:none">
    <div id="film"></div>
    <div id="vid_numbers">
      <!-- <div class="vid_number" id="vid_0" style="display: none;">1</div>
      <div class="space"></div>
      <div class="vid_number" id="vid_1" style="display: none;">2</div>
      <div class="space"></div>
      <div class="vid_number" id="vid_2" style="display: none;">3</div>
      <div class="space"></div>
      <div class="vid_number" id="vid_3" style="display: none;">4</div>
      <div class="space"></div>
      <div class="vid_number" id="vid_4" style="display: none;">5</div>
      <div class="space"></div>
      <div class="vid_number" id="vid_5" style="display: none;">6</div>
      <div class="space"></div>
      <div class="vid_number" id="vid_6" style="display: none;">7</div>
      <div class="space"></div>
      <div class="vid_number" id="vid_7" style="display: none;">8</div>
    </div> -->
  </div>
